﻿
@{
    ViewBag.Title = "Guest";
}
@Styles.Render("~/Content/Guest.css")

<h2>@ViewBag.Title</h2>



@foreach (var item in ViewBag.Comments)
{
    <div class="container">
        <img src="~/Images/user.png" alt="Avatar" style="width:90px">
        <p><span>@item.Item1</span>@item.Item2</p>
        <p class="comment">@item.Item3</p>
    </div>
}


<div class="container">
    <h3>Your comment</h3>
    <form method="post">
        <label for="name">Name: </label>
        <input type="text" class="form-control" name="name" required placeholder="Your name"><br />

        <label for="comment">Comment: </label>
        <input type="text" class="form-control" name="comment" required placeholder="Write smth" /><br />

        <button type="submit" class="btn btn-primary mb-2">Send</button>
    </form>
</div>






@section Footer {
    <div>
        Icons made by
        <a class="foota" href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
        and  <a class="foota" href="https://www.freepik.com" title="Freepik">Freepik</a>
        from <a class="foota" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>

}