﻿
@{
    ViewBag.Title = "Questionnaire";
}
@using Task23_Epam.Helpers

@helper CreateListRadio(List<string> years, string name)
{
<p>
    @for (int i = 0; i < years?.Count; i++)
    {
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="@name@i" name="@name" value="@years[i]">
            <label class="custom-control-label" for="@name@i">@years[i]</label>
        </div>
    }
</p>
}

<h2>@ViewBag.Title</h2>


<form name="form" method="post">

    <p><b>1.Gender:</b></p>
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultUnchecked" name="gender" value="Male">
        <label class="custom-control-label" for="defaultUnchecked">Male</label>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultUncheckedz" name="gender" value="Female">
        <label class="custom-control-label" for="defaultUncheckedz">Female</label>
    </div>


    <p><b>2.Age:</b></p>
    @{
        var ages = new List<string>() { "<18", "18-24", "24-34", "35-50", ">50" };
        var advertising = new List<string>()
{
                "Advertising in the elevator",
                "Advertising in the subway",
                "TV commercial",
                "Advertising on the street",
                "I read on social networks on the Internet",
                "Recommendations of acquaintances",
                "Passed by"
            };
        var services = new List<string>() { "Video portal", "IPTV", "Internet radio", "Game portal", "Soft" };

    }
    @CreateListRadio(ages, "years")

    <p><b>3.Your name and surname</b></p>
    Name: <input type="text" class="form-control" name="name"> <br />
    Surname <input type="text" class="form-control" name="surname"> <br />

    <p><b>4.How did you find out about our service:</b></p>
    @Html.CheckBox(advertising, "service")


    <p><b>5. What other services would be interesting to you?</b></p>
    @Html.CheckBox(services, "ser")


    <br />
    <input type="submit" class="btn btn-primary mb-2" value="Submit" />


</form>


@section Footer {
    <div>
        Icons made by
        <a class="foota" href="https://www.freepik.com" title="Freepik">Freepik</a>
        from <a class="foota" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
}
